.main-comp{
    padding: 100px 10px;
}

.carimage1{
    height: 30rem;
}

.firstcomponent{
    .mainHeading{
        color: #EDBF2B !important;
    }

    .subheading{
        color: #FFFFFF !important;
    }
}

.secondsubhead{
    width: 70%;
.subwelcome{
    color: #FFFFFF;

    span {
        color: #EDBF2B;
    }
}
p{
    color: #FFFFFF;
    font-family: Helvetica;
    font-weight: 400;
}
}